<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width" />
<title>Pesquisa de Dossiê</title>
<!-- <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"></link> -->
<!-- <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script> -->
<script type="text/javascript" src="'"></script>
<script type="text/javascript" src="webjars/bootstrap/4.1.3/js/bootsr.min.js"></script>
<link rel="stylesheet" href="webjars/bootstrap/4.1.3/css/bootstrap.min.css"></link>

</head>
<body>
	<div th:replace="dossiemanager/nav :: nav"></div>
	<div class="panel panel-default" style="margin: 60px">

		<div class="panel-heading">
			<h3 class="panel-title">Pesquisa de Dossiê</h3>
		</div>
		<form class="form-inline" method="GET" th:object="${pedido}"
			th:action="@{dossiemanager/pesquisar}" style="margin: 20px 0">
			<div class="form-group">
				<input type="text" class="form-control-sm" name="numeroPedido"
					th:value="${numeroPedido}" id=numeroPedido placeholder="Pedido" />
				<input type="text" class="ml-3 form-control-sm" name="cxInterna"
					th:value="${cxInterna}" id=cxInterna placeholder="Caixa Interna" />
				<input type="text" class="ml-3 form-control-sm" name="cxExterna"
					th:value="${cxExterna}" id=cxExterna placeholder="Caixa Externa" />
				<select class="ml-3 custom-select-sm" id="statusAr" name="statusAr"
					th:value="${statusAr}">
					<option selected>Status Ar</option>
					<option value="Pendente">Pendente</option>
					<option value="Enviado">Enviado</option>
				</select>
				<button type="submit" class="btn btn-primary btn-sm ml-3">Pesquisar</button>
			</div>
		</form>

		<div class="panel-body">
			<table id="tablesearch" class="table table-striped table table-sm">
				<thead>
					<tr>
						<th>Pedido</th>
						<th>CPF</th>
						<th>CNPJ</th>
						<th>AR</th>
						<th>Status Ar</th>
						<th>Status Certisign</th>
					</tr>
				</thead>
				<tbody>

					<tr th:each="pedido : ${pedidos}">
						<td th:text="${pedido.numeroPedido}">Pedido</td>
						<td th:text="${pedido.cpf}">CPF</td>
						<td th:text="${pedido.cnpj}">CNPJ</td>
						<td th:text="${pedido.ar}">Ar</td>
						<td th:text="${pedido.statusAr}"
							th:class="${pedido.statusAr == 'ENVIADO'} ? 'text-success' : (${pedido.statusAr == 'PENDENTE'} ? 'text-danger' : 'text-warning')">Status
							Ar</td>
						<td th:text="${pedido.statusPedido}"
							th:class="${pedido.statusPedido == 'ESTOCADO'} ? 'text-success' : (${pedido.statusAr == 'PENDENTE'} ? 'text-danger' : 'text-warning')">Status
							Certisign</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>