<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"></meta>
<meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1.0,user-scalable=no"></meta>
<meta http-equiv="Cache-control" content="public"></meta>
<meta charset="ISO-8859-1"></meta>
<link rel="stylesheet" th:href="@{/css/style.css}"></link>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.mask.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery-ui.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.idTabs.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.multi-open-accordion-1.0.1.js}"></script>
<script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<title>Admin Dossiê Manager</title>
</head>
<body>
	<div id="login">
		<center>
			<h1 style="font-size: -webkit-xxx-large; margin-top: 20%;">Dossiê Manager Admin</h1>
		</center>
		<center style="margin-top: 5%;">
			<legend style="font-size: 13px; font: bold 12px verdana;">Acesse com seu Certificado</legend>
			<form th:action="${urlLogin}" method="POST">
				<input type="hidden" th:value="${id}" id="id" name="id"></input>
				<input type="hidden" th:value="${nomeSistema}" id="nome" name="nome"></input>
				<input type="hidden" th:value="${urlRetorno}" id="retorno" name="retorno"></input>
				
				<div style="margin-top: 1%;">
					<input type="image" th:src="@{/img/bt_login.png}" alt="Submit" id="btnLoginCertisign"></input>
				</div>
			</form>
		</center>
	</div>
</body>
</html>
